$color-base: #fafafa;
$color-primary:  #3d4148;
$color-accent: #d14b3a;
$color-btn-hover: #ff3c1f;
$color-pgn-border: #abb3c0;
$color-txt-base: #4e5860;
$color-txt-primary: #fafafa;
$size-base: 18px;
$width-content: 1174px;
