@mixin arrow-left( $color, $width, $thickness) {
  display: block;
  width: $width;
  height: $width;
  border-left: $thickness solid $color;
  border-bottom: $thickness solid $color;
  transform: rotate(45deg);

  &:hover {
    border-left-color: $color-btn-hover;
    border-bottom-color: $color-btn-hover;
  }
}

@mixin arrow-right( $color, $width, $thickness) {
  display: block;
  width: $width;
  height: $width;
  border-right: $thickness solid $color;
  border-top: $thickness solid $color;
  transform: rotate(45deg);

  &:hover {
    border-right-color: $color-btn-hover;
    border-top-color: $color-btn-hover;
  }
}

@mixin arrow-top( $color, $width, $thickness) {
  display: block;
  width: $width;
  height: $width;
  border-left: $thickness solid $color;
  border-top: $thickness solid $color;
  transform: rotate(45deg);

  &:hover {
    border-left-color: $color-btn-hover;
    border-top-color: $color-btn-hover;
  }
  
}