.blog-section {
  padding: 47px 0 19px;

  .content {
    max-width: 1200px;
  }

  .title__heading {
    text-transform: capitalize;
    font-weight: bold;

    &::after {
      background: $gradient-line;
      bottom: -12px;
    }
  }
  
  .title__description {
    @include font($font-secondary, normal, $size-base);
    text-align: center;
    padding: 30px 0px;
    line-height: 25px;
    letter-spacing: -0.1px;
    word-spacing: 0px;
    color: $color-txt-base;
  }

  .slidershow {
    margin-bottom: 96px;

    @include screen-x-large {
      margin-bottom: 50px;
    }

    .slide {
      margin-bottom: 0;
    }
  }
}

.post {
  position: relative;
  font-size: 0px;
  padding-top: 34px;
  
  &__item {
    @include font($font-primary, normal, 14px);
    @include dam-folder($color-folder);
    position: relative;
    padding: 219px 25px 0;
    text-transform: capitalize;
    width: calc((100% - 90px)/3);
    max-width: 370px;
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    margin: 0 15px;
    border: 1px solid $color-folder-border;

    @include screen-x-large {
      width: calc((100% - 60px)/3);
      margin: 0 5px;
      padding: 160px 10px 0;
    }

    // &_last {
    //   // margin-right: 0 !important;
    // }
  }
  
  &__title {
    border-bottom: 1px solid $color-folder-border;
    position: relative;
    padding: 11px 0;
    
    &_link {
      @include font($font-base, normal, 25px);
      letter-spacing: 0.4px;

      &:hover {
        color: $color-btn-hover;
      }
    }

    &::before {
      @include pseudo("", calc(100% + 50px), 206px);
      background-color: $color-folder;
      top: -218px;
      left: -25px;

      @include screen-x-large {
        @include pseudo("", calc(100% + 20px), 175px);
        top: -175px;
        left: -10px;
      }
    }
  }

  &-info {
    position: relative;

    &__item {
      @include font($font-primary, 600, 14px);
      color: $color-txt-icon;
      display: inline-block;
      position: relative;
      padding-left: 28px;
      padding-right: 12px;

      @include screen-x-large {
        padding-left: 20px;
        padding-right: 5px;
      }
      
      &_comments {
        padding: 10px 0 0 20px;
      }

      &::before {
        @include pseudo("", 20px, 20px);
        top: 5px;
        left: 1px;
      }

      &_author::before {
        background: url(images/icon-user.png) no-repeat;
        background-size: 14px 13px;
      }

      &_data::before {
        background: url(images/icon-calendar.png) no-repeat;
        background-size: 15px 14px;
      }

      &_comments:before {
        background: url(images/icon-comments.png) no-repeat;
        background-size: 14px 14px;
        padding-right: 0;
        top: 15px;
        left: -2px;
      }
    }
  }

  &__description {
    @include font($font-primary, 400, 14px);
    color: $color-txt-base;
    line-height: 25px;
    padding: 12px 0 20px;
    text-transform: none;
    letter-spacing: 0.15px;
  }

  &__button {
    display: inline-block;
    color: $color-btn-hover;   
    border: 1px solid $color-btn-hover;
    padding: $padding-btn-post;
    margin-bottom: 35px;

    @include screen-x-large {
      margin-bottom: 20px;
    }

    &:hover {
      background-color: $color-btn-hover;
      color: $color-txt-primary;
    }
  }

  .arrows__item_left {
    @include arrow-left ($color-arrows-base, 32px, 3px);
    top: calc(50% - 53px);
    left: -75px;

    @include screen-x-large {
      @include arrow-left ($color-arrows-base, 15px, 3px);
    }     
  }

  .arrows__item_right {
    @include arrow-right ($color-arrows-base, 32px, 3px);  
    top: calc(50% - 53px);
    right: -75px;

    @include screen-x-large {
      @include arrow-right ($color-arrows-base, 15px, 3px);  
    }    
  }
}
