.portfolio__section {

  .content {
    max-width: 1440px;
  }

  .title__heading {
    padding: 32px 0 18px 0;
    margin-bottom: 39px;
  }

  .title__heading::after {
    background: $gradient-line;
    bottom: -2px;
  }
}

.portfolio-blog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100%/4);
    background-color: $color-folder;
    min-height: $height-portfolio;
    color: $color-base;
    text-align: center;
    position: relative;

    @include screen-large {
      width: calc(100%/3);
    }
  }

  .portfolio__title {
    @include font($font-primary, 600, 21px);
    padding-bottom: 21px;
    padding-top: 45px;
  }

  .portfolio__description {
    @include font($font-primary, normal, 15px);
    word-spacing: 3px;
  }

  .icons {
    @include dam-icons($color-bg-icons-post);
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    text-align: right;
    background-color: $color-bg-icons-post;
    min-height: 36px;

    &__item {
      display: block;
      text-align: right;
      width: 30px;
      height: 30px;
      
      @include screen-x-large {
        transform: scale(0.8);
      }

      &_link {
        position: relative;
        background: url(images/link.png) no-repeat;
        background-size: 18px 22px;
        top: -11px;
        right: 62px;
        z-index: 5;

        &:hover {
          position: relative;
          background: url(images/link-hover.png) no-repeat;
          background-size: 18px 22px;
          top: -11px;
          right: 62px;
        }
      }

      &_zoom {
        position: relative;
        background: url(images/zoom.png) no-repeat;
        background-size: 23px 22px;
        top: -11px;
        right: 32px;
        z-index: 5;

        &:hover {
          position: relative;
          background: url(images/zoom-hover.png) no-repeat;
          background-size: 23px 22px;
          top: -11px;
          right: 32px;
        }
      }
    }
  }
}
