.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;

  @include screen-x-large {
    margin-bottom: 30px;
  }

  @include screen-small {
    margin-bottom: 10px;
  }

  &__heading {
    @include font($font-base, 600, 45.29px);
    text-align: center;
    padding: 47px 0 18px 0;
    position: relative;
    
    @include screen-x-large {
      font-size: 35px;
    }

    @include screen-large {
      padding: 10px 0 15px;
    }

    @include screen-small {
      font-size: 30px;
    }

    &::after {
      @include pseudo("", 100px, 1px);
      background-color: $color-base;;
      left: 50%;
      bottom: 0px;
      margin-left: -50px;
    }
  }
  
  &__description {
    @include font($font-primary, 400, $size-base);
    padding: 19px 0;
    color: $color-base;

    @include screen-large {
      font-size: 14px;
    }

  }
}
